<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <link href="/assets/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="/assets/styles.css" media="screen" rel="stylesheet" />
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container" id="ctn">
          <%= yield %>
    </div>
  </body>
</html>
